@import 'reset';
@import 'header';
@import 'search';
@import 'interval';
@import 'results';

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

mark {
	background: none;
	font-weight: bold;
}